.slider-card {
    width: 100%;
    height: 120%;

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;

    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;

    transition: all 0.2s ease;

    padding: 10px 10px;
}
.slider-card:hover {
    border-top: 1px solid var(--gov-accesibility-card);
    border-right: 1px solid var(--gov-accesibility-card);
    border-left: 1px solid var(--gov-accesibility-card);
}

.slider-card svg {
    width: 50px;
    height: 50px;
    fill: var(--black-to-white-color);
}

.slider-info-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5px;
}
.slider-info-container p{
    margin: 0;
    color: var(--text-color);
}
.slider-info-container p:nth-child(1){
    font-weight: bold;
    font-size: 14px;
}
.slider-info-container p:nth-child(2){
    font-size: 13px;
}
.slider-info-container p:nth-child(3){
    font-weight: bold;
    font-size: 18px;
    color: var(--gov-accesibility-card);
}