.graph-container {
    position: relative;
    margin: auto;
    width: 55vw;
}
canvas {
    box-sizing: border-box;
    width: 100%;
    min-height: 400px;
}

@media(max-width: 1150px) {
    .graph-container {
        width: 80vw;
    }
}