.table-container {
    width: 100%;
    overflow-x: auto;
	padding-bottom: 5px;
}

.my-table {
    width: 100%;
    border-collapse: collapse;

    box-sizing: border-box;

    transition: all 0.2s ease;
    overflow-x: auto;
    max-width: 100%;
} 
.my-table th{
    color: var(--white-to-black-color) !important; 
    background-color: var(--lines-color2);
}
.my-table th:nth-child(1) {
    min-width: 700px;
}
.my-table th, .my-table td {
    border-bottom: 1px solid var(--lines-color2);
    padding: 12px 20px;
    text-align: left;

    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    transition: all 0.2s ease;

    text-align: center;

    color: var(--text-color);
}

.my-table tr:hover a, .my-table tr:hover{
    color: var(--lines-color2);
}
.my-table tr:hover td{
    /* cursor: pointer; */
    border-left: 1px solid var(--lines-color2);
    border-right: 1px solid var(--lines-color2);
}

.my-table a {
    width: 100%;

    text-decoration: none !important;
    color: var(--text-color) !important;

    display: flex;
    align-items: center;
    gap: 10px;
} 
.my-table a:hover {
    color: var(--lines-color2) !important;
}

.my-table a svg {
    width: 20px;
    height: 20px;
}

.cursor-pointer {
    cursor: pointer;
}
.cursor-pointer:hover {
    text-decoration: underline;
    background-color: var(--lines-color2);
    color: var(--white-to-black-color);
}