.main-container {
	width: 100%;
	display: flex;
	box-sizing: border-box;
}

.home-container {
    padding: 75px 50px;

    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}