.navbar-container {
    box-sizing: border-box;
    z-index: 5;
    height: var(--navbar-height);
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--navbar-color);
    padding: 15px 75px 10px 0;
    padding-right: 75px;

    transition: all 0.2s ease;
}

.banner-image {
    height: 100%;
}
.banner-image img {
    height: 100%;
    object-fit: contain;
}


.close-open-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.close-open-button svg {
    width: 25px;
    height: 25px;
    fill: var(--icon-colors);
    /* margin-right: 40px; */
}

.datos-image-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--lines-color2);
    padding-top: 20px;

    margin-bottom: 30px;
}
.datos-image-container img{
    width: 100%;
    object-fit: contain;
}

@media (max-width: 450px) {
    :root{
        --navbar-height: 65px;
    }
}