.navbar-container {
    box-sizing: border-box;
    z-index: 5;
    position: fixed;
    height: var(--navbar-height);
    top: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--navbar-color);
    padding-right: 40px;

    transition: all 0.2s ease;
}

.banner-image {
    height: 100%;
}
.banner-image img {
    height: 100%;
    object-fit: cover;
}


.close-open-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.close-open-button svg {
    width: 25px;
    height: 25px;
    fill: var(--icon-colors);
    /* margin-right: 40px; */
}

@media (max-width: 450px) {
    :root{
        --navbar-height: 65px;
    }
}