.navbar-responsive-container {
    width: 100%;
    z-index: 5;
    position: fixed;
    top: 0;

    height: 100vh;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background: var(--navbar-responsive-color);
    gap: 10px;

    transition: all 0.2s ease;
}

.button-nav-responsive {
    position: absolute;
    top: 50px;
    right: 60px;
}

.navbar-responsive-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.navbar-responsive-text-container a {
    display: flex;
    align-items: center;
    height: 29px;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.navbar-responsive-text-container button {
    height: 29px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.navbar-responsive-text-container a,
.navbar-responsive-text-container button {
    color: white;
    font-weight: bold;
}
