textarea {
    resize: vertical;
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container label{
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    padding-left: 5px;
}

/* Inputs de Texto */
.input-container textarea {
    min-height: 75px;
}
.input-container input, .input-container textarea {
    background-color: transparent;
    color: var(--black-to-white-color);
    padding: 15px;

    border: 1px solid var(--lines-color);
    outline: none;
}
.input-container input::placeholder, .input-container textarea::placeholder{
	color: var(--lines-color);

}
.input-container input:focus, .input-container textarea:focus{
    outline: none;
}

/* Select */
.input-container select {
    background-color: transparent;
    padding: 15px;
    border: 1px solid var(--lines-color);
	color: var(--lines-color);
    cursor: pointer;
}
.input-container select:focus {
    outline: none;
}