.municipality-card-container {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 5px 10px;
    border-radius: 5px;

    background-color: var(--white-095);

    cursor: pointer;
    box-sizing: border-box;
    border-left: 5px solid var(--white);
    transition: all 0.2s ease;
}
.municipality-card-container:hover{
    background-color: var(--white);
    border-left: 5px solid var(--municipios-and-result-border-clicked);
}

.municipality-card-container p {
    font-size: 14px;
    transition: all 0.2s ease;
}
.municipality-card-container:hover p {
    font-size: 14px;
    transform: translateX(5px);
}
.municipality-card-container p:nth-child(1) {
    font-weight: bold;
}
.municipality-card-container p:nth-child(2) {
    font-family: 'Courier New', Courier, monospace;
}