.my-table {
    width: 100%;
    border-collapse: collapse;
} 
.my-table th{
    color: var(--white); 
}
.my-table th, .my-table td {
    border: 1px solid var(--white);
    padding: 8px;
    text-align: left;
}
.my-table th {
    background-color: var(--navbar-color);
    color: var(white); 
}
.my-table a {
    text-decoration: none;
    color: var(--black);
} 
.my-table a:hover {
    text-decoration: underline;
}