.title-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}

.title {
    width: 100%;
    padding: 5px 20px;

    text-align: center;
    font-size: 24px;
    border-left: 1px solid;
    color: var(--main-title-color);
    border-color: var(--main-title-color);

    transition: all 0.2s ease;
}

@media (max-width: 800px) {
    .title {
        font-size: 20px;
    }
}
@media (max-width: 450px) {
    .title {
        font-size: 16px;
    }
}