.accesibility-icons-container {
    z-index: 2;
    position: fixed;

    top: 0;
    right: 0;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.accesibility-icons-container div{
    background-color: var(--lines-color2);

    display: flex;
    gap: 15px;
    padding: 10px 15px;

    box-sizing: border-box;
}
.accesibility-icons-container svg{
    width: 25px;
    height: 25px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.accesibility-icons-container svg:hover {
    transform: scale(1.15);
}